<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Bobbyzzaiolo</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-12>
        <ng-container *ngIf="!inAdmin">
          <h1>La carte</h1>
        </ng-container>
        <ng-container *ngIf="inAdmin">
          <h1>
            Pizzas
            <ion-icon name="add-circle"
                      [navPush]="pizzaFormPage"
                      small>
            </ion-icon>
          </h1>
        </ng-container>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-lg-2 col-md-3 col-sm-6 *ngFor="let pizza of pizzas">
        <ion-card>
          <ion-card-header [navPush]="pizzaDetailPage"
                           [navParams]="pizza">
            {{pizza.name}} - {{pizza.price}} €
          </ion-card-header>

          <ion-card-content [navPush]="pizzaDetailPage"
                            [navParams]="pizza">
            <img [src]="pizza.image" alt="">
          </ion-card-content>

          <ion-row>
            <ion-col *ngIf="!inAdmin">
              <button ion-button (click)="addItemBasket(pizza)">Ajouter au panier</button>
            </ion-col>
            <ion-col *ngIf="inAdmin">
              <button [navPush]="pizzaFormPage"
                      [navParams]="pizza"
                      ion-button icon-left clear small>
                <ion-icon name="create"></ion-icon>
              </button>
            </ion-col>
            <ion-col *ngIf="inAdmin">
              <button (click)="remove(pizza)"
                ion-button icon-left clear small float-right>
                <ion-icon name="trash"></ion-icon>
              </button>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
